<!DOCTYPE html>
<html>
  <head>
    <title>Pictur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Baloo' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
